[submodule "summon-arm-toolchain"]
        path = summon-arm-toolchain
        url = https://github.com/esden/summon-arm-toolchain.git
[submodule "elua"]
        path = elua
        url = git@github.com:SalemHarrache/elua.git
[submodule "libopencm3"]
        path = libopencm3
        url = git@github.com:SalemHarrache/libopencm3.git
[submodule "stlink"]
        path = stlink
        url = git@github.com:SalemHarrache/stlink.git
