stlink/nbproject/private/
stlink/*.o
stlink/*.elf
stlink/doc/tutorial/*.log
stlink/doc/tutorial/*.aux
stlink/libstlink.a
stlink/test_usb
stlink/test_sg
stlink/gdbserver/st-util
stlink/flash/flash
stlink/flash/*.bin
stlink/*.log
stlink/example/*/*.bin
stlink/example/*/*.elf
stlink/example/*/*/*.bin
stlink/example/*/*/*/*.bin
stlink/example/*/*/*.a
stlink/example/*/*/*/*.a
*~
*.aux
*.log
*.tex.backup
